{% extends 'base.html' %}
{% block title %}
    Войти в Аккаунт
{% endblock %}
{% block content %}
    <body>

    {% include 'blocks/nav.html' %}
    <div>
        <div>

            <h5>
                <strong>Вход в Аккаунт</strong>
            </h5>
            {#            {% if messages %}#}
            {#                {% for message in messages %}#}
            {##}
            {#                    {% get_bootstrap_alert_msg_css_name message.tags as alert_tag %}#}
            {#                    <div {% if message.tags %}#}
            {#                        class="alert fadeIn alert-{{ alert_tag }}"{% endif %}><a class="close" data-dismiss="alert"#}
            {#                                                                                 aria-label="close">&times;</a>{{ message }}#}
            {#                    </div>#}
            {#                {% endfor %}#}
            {#            {% endif %}#}
            {% if messages %}
                {% for message in messages %}
                    <div>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            <div>

                <!-- Form -->
                <form action="{% url 'account:login' %}" method="post">
                    {% csrf_token %}
                    <div>
                        {{ form.login }}
                        {{ form.login.label }}
                    </div>
                    <div>
                        {{ form.password }}
                        {{ form.password.label }}
                    </div>
                    <div>
                        <div>
                            <input type="checkbox" id="remember_me">
                            <label for="remember_me">Запомнить меня</label>
                        </div>
                    </div>
                    <div>
                        <!-- Forgot password -->
                        <a href="{% url 'account:forgot' %}">Забыли пароль?</a>
                    </div>

                    <!-- Sign in button -->
                    <button type="submit">
                        Войти
                    </button>

                    <!-- Register -->
                    <p>Нет аккаунта?
                        <a href="{% url 'account:signup' %}">Создать</a>
                    </p>

                    {#                    <!-- Social login -->#}
                    {#                    <p>Войти с помощью:</p>#}
                    {#                    <a type="button" href="" class="btn-floating btn-tw btn-sm"> {# TODO social auth #}
                    {#                        <i class="fab fa-google"></i>#}
                    {#                    </a>#}

                </form>
                <!-- Form -->

            </div>

        </div>
    </div>
    </body>
{% endblock content %}