{% extends 'base.html' %}
{% block title %}
    Создать Аккаунт
{% endblock %}
{% block content %}
    <body>

    {% include 'blocks/nav.html' %}
    <div>
        <div>

            <h5>
                <strong>Создание Аккаунта</strong>
            </h5>
            {#            {% if messages %}#}
            {#                {% for message in messages %}#}
            {##}
            {#                    {% get_bootstrap_alert_msg_css_name message.tags as alert_tag %}#}
            {#                    <div {% if message.tags %}#}
            {#                        class="alert fadeIn alert-{{ alert_tag }}"{% endif %}><a class="close" data-dismiss="alert"#}
            {#                                                                                 aria-label="close">&times;</a>{{ message }}#}
            {#                    </div>#}
            {#                {% endfor %}#}
            {#            {% endif %}#}
            {% if messages %}
                {% for message in messages %}
                    <div>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}

            <!--Card content-->
            <div>

                <!-- Form -->
                <form action="{% url 'account:signup' %}" method="post">
                    {% csrf_token %}
                    <div>
                        {{ form.username.label }}
                        {{ form.username }}
                    </div>
                    <div>
                        {{ form.email.label }}
                        {{ form.email }}
                    </div>
                    <div>
                        {{ form.password1.label }}
                        {{ form.password1 }}
                    </div>
                    <div>
                        {{ form.password2.label }}
                        {{ form.password2 }}
                        <!-- Forgot password -->
                    </div>
                    <a href="{% url 'account:forgot' %}">Забыли пароль?</a>

                    <!-- Sign in button -->
                    <button type="submit">
                        Создать
                    </button>
                    {#                    <p>Зарегистрироваться с помощью:</p>#}
                    {#                    <a type="button" href="" class="btn-floating btn-tw btn-sm"> {# TODO social auth #}
                    {#                        <i class="fab fa-google success-color"></i>#}
                    {#                    </a>#}
                    <!-- Register -->
                    <p>Уже есть аккаунт?
                        <a href="{% url 'account:login' %}">Войти</a>
                    </p>

                    <!-- Social login -->


                </form>
                <!-- Form -->

            </div>

        </div>
    </div>
    </body>
{% endblock content %}