{% extends 'base.html' %}
{% block title %}
    Просмотр Аккаунта | {{ user.username }}
{% endblock %}
{% block content %}
    <body>
    <div id="messages">

    </div>
    {% include 'blocks/nav.html' %}
    <h1>{{ user.username }}</h1>
    {% if request.user == user %}
        <span id="api_key">{{ api_key.key }}</span>
        <br>
        <a href="{% url 'account:edit' %}">Изменить Аккаунт</a>
    {% endif %}
    <div id="AjaxLoader"></div>
    <div id="content">
        {% include 'api/account.html' %}
    </div>
    </body>
{% endblock content %}