{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}
    Просмотр Аккаунта | {{ user.username }}
{% endblock %}
{% block content %}
    <body>
    <div id="main-wrapper">
        {% include 'blocks/nav.html' %}
        <div class="preloader">
            <div class="lds-ripple">
                <div class="lds-pos"></div>
                <div class="lds-pos"></div>
            </div>
        </div>
        <div class="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8 col-xlg-9 col-md-7">
                        <div class="card">
                            <ul class="nav nav-pills custom-pills" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="pills-links-tab" data-toggle="pill"
                                       href="#account_links"
                                       role="tab" aria-controls="pills-links" aria-selected="true">Ссылки</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-folders-tab" data-toggle="pill"
                                       href="#account_folders"
                                       role="tab" aria-controls="pills-folders" aria-selected="false">Подборки</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-saved-tab" data-toggle="pill" href="#account_saved"
                                       role="tab" aria-controls="pills-saved" aria-selected="false">Сохранённое</a>
                                </li>
                                {% if request.user == user %}
                                    <li class="nav-item">
                                        <a class="nav-link" id="pills-setting-tab" data-toggle="pill" href="#settings"
                                           role="tab" aria-controls="pills-setting" aria-selected="false">Настройки</a>
                                    </li>
                                {% endif %}
                            </ul>
                            <div class="tab-content" id="content">
                                <div class="tab-pane fade show active" id="account_links" role="tabpanel"
                                     aria-labelledby="pills-links-tab">
                                    <div class="card-body" id="links_card">
                                        {% include "api/account/links.html" %}
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="account_folders" role="tabpanel"
                                     aria-labelledby="pills-folders-tab">
                                    <div class="card-body" id="folders_card">
                                        {% include "api/account/folders.html" %}
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="account_saved" role="tabpanel"
                                     aria-labelledby="pills-saved-tab">
                                    <div class="card-body" id="saved_card">
                                        {% include "api/account/saved.html" %}
                                    </div>
                                </div>
                                {% if request.user == user %}
                                    <div class="tab-pane fade" id="settings" role="tabpanel"
                                         aria-labelledby="pills-setting-tab">
                                        <div class="card-body">
                                            <div class="align-content-center text-center">
                                                <button type="button"
                                                        class="btn btn-primary btn-circle btn-lg"
                                                        data-toggle="modal"
                                                        data-target="#changeavatar"><i
                                                        class="fa fa-camera" data-toggle="tooltip" data-placement="top"
                                                        title="Изменить аватар"></i></button>
                                                <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog"
                                                     aria-labelledby="myLargeModalLabel" aria-hidden="true"
                                                     style="display: none;"
                                                     id="changeavatar">
                                                    <div class="modal-dialog modal-lg">
                                                        <div class="modal-content text-center align-content-center">
                                                            <div class="modal-header">
                                                                <h4 class="modal-title" id="myLargeModalLabel">Изменение
                                                                    Аватара</h4>
                                                                <button type="button" class="close" data-dismiss="modal"
                                                                        aria-hidden="true">×
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="col">
                                                                    <h4>Выберите аватар, который хотите установить.</h4>
                                                                    <div class="row">
                                                                        {% for avatar in avatars %}
                                                                            {% if forloop.counter in numbers_4 %}
                                                                                </div>
                                                                                <div class="mt-3 row text-center align-content-center">
                                                                            {% endif %}
                                                                            <a class="col" href="javascript:void(0)"
                                                                               data-change="avatar"
                                                                               data-data="{{ avatar.name }}">
                                                                                <div class="user-pic"><img
                                                                                        src="



                                                                                                {% static 'img/avatars/' %}{{ avatar.path }}"
                                                                                        alt="users"
                                                                                        class="rounded-circle"
                                                                                        width="60"/></div>
                                                                            </a>
                                                                        {% endfor %}
                                                                        </div>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button"
                                                                        class="btn btn-danger waves-effect text-left"
                                                                        data-dismiss="modal">Закрыть
                                                                </button>
                                                            </div>
                                                        </div>
                                                        <!-- /.modal-content -->
                                                    </div>
                                                    <!-- /.modal-dialog -->
                                                </div>
                                            </div>
                                            <form class="form-horizontal form-material" method="post"
                                                  action="{% url 'account:view_my' %}">
                                                {% csrf_token %}
                                                <div class="form-group">
                                                    <label class="col-md-12">Имя Пользователя</label>
                                                    <div class="col-md-12">
                                                        {% render_field form.username placeholder="Имя Пользователя" class="form-control form-control-line" %}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-12">Email</label>
                                                    <div class="col-md-12">
                                                        <input type="email" disabled
                                                               placeholder="{{ request.user.email }}"
                                                               class="form-control form-control-line" name="email"
                                                               id="email">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-12">Новый Пароль</label>
                                                    <div class="col-md-12">
                                                        {% render_field form.password1 class="form-control form-control-line" %}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-12">Повторите Пароль</label>
                                                    <div class="col-md-12">
                                                        {% render_field form.password2 class="form-control form-control-line" %}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        <button class="btn btn-success">Обновить данные</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-xlg-3 col-md-5">
                        <div class="card">
                            <div class="card-body">
                                <center class="m-t-30"><img
                                        src="{% static 'img/avatars/' %}{{ profile.avatar.path }}"
                                        class="rounded-circle avatar"
                                        width="150"/>
                                    <h4 class="card-title m-t-10">{{ user.username }}</h4>
                                    <h6 class="card-subtitle"><a
                                            href="mailto:{{ user.email }}">{{ user.email }}</a>
                                    </h6>

                                    <div class="card-body align-items-center d-flex justify-content-center">
                                        <div class=""><a href="#" class="link"><i class="icon-star"></i> Рейтинг
                                            <font class="font-medium"
                                                  id="user_rating">{{ profile.rating }}</font></a>
                                        </div>
                                    </div>
                                </center>
                            </div>
                            <div>
                                <hr>
                            </div>
                            {% if request.user == user %}
                                <div class="card-body align-items-center d-flex justify-content-center">
                                    <div class="form-group col">
                                        <label>API-ключ</label>
                                        <div class="input-group closed copied" id="api_key">
                                            <input class="form-control input-hide input-copy" type="password"
                                                   value="{{ api_key.key }}"
                                                   disabled aria-describedby="show_hide_pwd">
                                            <div class="input-group-append btn-hide" data-toggle="tooltip"
                                                 data-placement="top"
                                                 title="Показать">
                                                <a href="javascript:void(0)" class="input-group-text"><i
                                                        class="fa fa-eye-slash" aria-hidden="true"></i></a>
                                            </div>
                                            <div class="input-group-append btn-copy btn-success" data-toggle="tooltip"
                                                 data-placement="top"
                                                 title="Скопировать">
                                                <a href class="input-group-text"><i class="fa fa-clipboard"
                                                                                    aria-hidden="true"></i></a>
                                            </div>
                                            <div class="input-group-append btn-success" data-change="api_key"
                                                 data-toggle="tooltip" data-placement="top"
                                                 title="Сгенерировать новый">
                                                <a href class="input-group-text"><i class="fa ti-reload"
                                                                                    aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="card-body align-items-center d-flex justify-content-center">
                                    <button id="delete_account_button" type="button"
                                            class="btn waves-effect waves-light btn-outline-danger">
                                        Удалить Аккаунт
                                    </button>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
{% endblock content %}