{% extends 'base.html' %}
{% block title %}
    Добавление ссылки
{% endblock title %}
{% block content %}
    <body>
    <div id="main-wrapper">
    {% include 'blocks/nav.html' %}
        <div class="preloader">
            <div class="lds-ripple">
                <div class="lds-pos"></div>
                <div class="lds-pos"></div>
            </div>
        </div>
    <form action="{% url 'link_add' %}" method="post">
        {% csrf_token %}
        <div>
            {{ form.link.label }}
            {{ form.link }}
        </div>
        <div>
            {{ form.folder.label }}
            {{ form.folder }}
        </div>

        <button type="submit">Создать ссылку</button>
    </form>
    </div>
    </body>
{% endblock content %}