{% extends 'base.html' %}
{% block title %}
    Добавление ссылки
{% endblock title %}
{% block content %}
    <body>
    {% include 'blocks/nav.html' %}
    {% if messages %}
        {% for message in messages %}
            <div>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <form action="{% url 'link_edit' link.id %}" method="post">
        {% csrf_token %}
        <div>
            {{ form.link.label }}
            {{ form.link }}
        </div>
        <div>
            {{ form.folder.label }}
            {{ form.folder }}
        </div>
        При изменении ссылки сбрасывается её рейтинг.
        <button type="submit">Сохранить изменения</button>
    </form>
    </body>
{% endblock content %}