{# HTML5 declaration #}
<!DOCTYPE html>
<html lang="ru">
{# Make modifiable head elements #}
<head>
    <title>{% block title %}Главная {% endblock title %} | CourRent</title>
    {% block head_favicon %}
        <link rel="icon" type="image/png"
              href="{{ STATIC_URL }}favicon.ico">
    {% endblock head_favicon %}
    {% block head_meta %}
        {% block head_meta_charset %}
            <meta http-equiv="Content-Type"
                  content="text/html; charset=utf-8"/>
        {% endblock head_meta_charset %}
        {% block head_meta_contentlanguage %}
            <meta http-equiv="Content-Language" value="ru-RU"/>
        {% endblock head_meta_contentlanguage %}
        {% block head_meta_viewport %}
            <meta name="viewport"
                  content="width=device-width, initial-scale=1.0">
        {% endblock head_meta_viewport %}
    {% endblock head_meta %}
    {% block head_css %}
        {% block head_css_site %}
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
            <link href="{{ STATIC_URL }}css/app.css" rel="stylesheet" media="screen">
            <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
            <link href="{{ STATIC_URL }}css/mdb.css" rel="stylesheet">
        {% endblock head_css_site %}
        {% block head_css_section %}{% endblock head_css_section %}
        {% block head_css_page %}{% endblock head_css_page %}
    {% endblock head_css %}
    {% block extra_styles %}
    {% endblock extra_styles %}
</head>

{% block content %}
    <body>
    if you see this, something is wrong!

    </body>
{% endblock content %}
{% block footer_javascript %}
    {% block footer_javascript_site %}
        <script src="{{ STATIC_URL }}js/jquery-3.3.1.min.js"></script>
        <script src="{{ STATIC_URL }}js/popper.min.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap.js"></script>
        <script src="{{ STATIC_URL }}js/app.js"></script>
        <script src="{{ STATIC_URL }}js/mdb.min.js"></script>
    {% endblock footer_javascript_site %}
    {% block footer_javascript_section %}{% endblock footer_javascript_section %}
    {% block footer_javascript_page %}{% endblock footer_javascript_page %}
{% endblock footer_javascript %}
</html>