{% extends 'base.html' %}
{% block title %}
    Главная
{% endblock title %}
{% block content %}
    <body>
    <div id="main-wrapper">
    {% include 'blocks/nav.html' %}
        <div class="preloader">
            <div class="lds-ripple">
                <div class="lds-pos"></div>
                <div class="lds-pos"></div>
            </div>
        </div>
    <div id="AjaxLoader"></div>
    <div id="content">
        {% include 'api/index.html' %}
    </div>
    </div>
    </body>
{% endblock content %}