{% extends 'base.html' %}
{% load static %}
{% block title %}
    Поиск {% if value != '' %}"{{ value }}"{% endif %}
{% endblock title %}
{% block content %}
    <body>
    <div id="main-wrapper">
        {% include 'blocks/nav.html' %}
        <div class="preloader">
            <div class="lds-ripple">
                <div class="lds-pos"></div>
                <div class="lds-pos"></div>
            </div>
        </div>
        <div class="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8 col-xlg-9 col-md-7">
                        <div class="card">
                            <div class="tab-content" id="content">
                                <div class="tab-pane fade show active">
                                    <div class="card-body">
                                        <h4>Поиск</h4>
                                        <form class="form-horizontal form-material" action="{% url 'search' %}"
                                              method="GET">
                                            <div class="input-group">
                                                <input class="form-control form-control-line" name="q" type="text"
                                                       value="{% if value %}{{ value }}{% endif %}"
                                                       placeholder="Ссылку Подборку Эл.Почту Логин">
                                                <div class="input-group-append">
                                                    <button class="btn btn-success"><i class="ti-search"></i></button>
                                                </div>
                                                <input type="hidden" name="hidden_query" value="{% if value %}{{ value }}{% endif %}">
                                            </div>
                                        </form>
                                    </div>
                                    <div class="card-body" id="search_card">
                                        {% include 'api/search.html' %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
{% endblock content %}